@model PriceQuotationModel
@{
    ViewBag.Title = "Price Quotation";
}

<div class="container">
    <header class="jumbotron bg-success text-center text-white">
        <div class="row justify-content-center">
            <i class="fas fa-money-bill-alt fa-4x"></i>
            <h1 class="text-white">@ViewBag.Title</h1>
        </div>
    </header>
    <main>
        <form asp-action="Index" method="post">
            <div class="form-group row">
                <label asp-for="SubTotal" class="col-sm-3">Subtotal:</label>
                <div class="col-sm-3">
                    <input asp-for="SubTotal" class="form-control" />
                </div>
                <span asp-validation-for="SubTotal" class="col-sm-6 text-danger" />
            </div>
            <div class="form-group row">
                <label asp-for="DiscountPercent" class="col-sm-3">Discount percent:</label>
                <div class="col-sm-3">
                    <input asp-for="DiscountPercent" class="form-control" />
                </div>
                <span asp-validation-for="DiscountPercent" class="col-sm-6 text-danger" />
            </div>
            <div class="form-group row">
                <label class="col-sm-3">Discount amount:</label>
                <label class="col-sm-3">@ViewBag.DiscountAmount.ToString("C2")</label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3">Total:</label>
                <label class="col-sm-3">@ViewBag.TotalPrice.ToString("C2")</label>
            </div>
            <div class="form-group row">
                <div class="col">
                    <button type="submit" class="btn bg-success text-white mr-1">Calculate</button>
                    <a asp-action="Index" class="btn bg-success text-white ml-1">Clear</a>
                </div>
            </div>
        </form>
    </main>
</div>